{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Codepostal</th>
                <th>Pays</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr data-href="{{ path('ville_show', {'id': ville.id})}}">
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codepostal }}</td>
                <td>{{ ville.pays }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ville</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}">Nouvelle ville</a>
{% endblock %}
