<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('static/node_modules/bootstrap/dist/css/bootstrap.min.css')}}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{asset('static/node_modules/jquery/dist/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('static/node_modules/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('static/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        <script>
        $('.datatable').DataTable({"language": {
            "sSearch":         "Rechercher",
            "sLengthMenu":     "_MENU_",
            "sInfo":           "_START_ à _END_ sur _TOTAL_",
            "sInfoEmpty":      "_START_ à _END_ _TOTAL_",
            "sInfoFiltered":   "",
            "sInfoPostFix":    "",
            "sZeroRecords":    "Aucun resultat",
            "sEmptyTable":     "Aucun resultat",
            "oPaginate": {
                "sFirst":      "<<",
                "sPrevious":   "<",
                "sNext":       ">",
                "sLast":       ">>"
            },
        }});
        $('.datatable').find('tbody').find('tr').each(function(i, ligne) {
          $(ligne).css('cursor', 'pointer');
          $(ligne).off('click');
          $(ligne).on('click', function(){
              window.location.href = document.location.origin+$(this).attr('data-href');
          });
        });
        </script>
    </body>
</html>
